streamlit~=1.46.1
streamlit-authenticator
tensorflow~=2.18.0
pandas~=2.2.2
numpy~=1.26.4
scikit-learn~=1.4.2
matplotlib~=3.8.4
shap~=0.45.0
fpdf~=1.7.2
joblib~=1.4.2
flask~=3.0.3
flask-cors~=5.0.0
flask-login
flask-sqlalchemy
PyYAML
requests
psycopg2~=2.9.10
faker~=37.4.0
sqlalchemy~=2.0.30
seaborn~=0.13.2
rapidfuzz~=3.13.0